@model IEnumerable<object>

@*https://www.youtube.com/watch?v=AsUWnheMOos*@

@{
    List<rainbow.Domain.Client.Cliente> clt = Model.ToList()[0] as List<rainbow.Domain.Client.Cliente>;
    List<rainbow.Domain.Recomendation.Recomendacao> recom = Model.ToList()[1] as List<rainbow.Domain.Recomendation.Recomendacao>;
}

@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>RCM Dashboard</h1>
</div>

<div class="row">

    <div class="col-md-4">

        <div class="panel panel-primary">
            <div class="panel-heading">Contagem</div>
            <div class="panel-body">
                <p>Clientes: @clt.Count()</p>
                <p>Total Recomendações: @recom.Count()</p>
                <p>
                    OK's:
                    @{
            int oks = 0;
            foreach (var item in recom)
            {
                if (item.OkParaContactar && !item.Contactado)
                {
                    oks++;
                }
            }

            <span>@oks</span>
                    }
                </p>
                <p>
                    Percentagem Ok's:
                    @{
            int totalOks = 0;
            int totalRecom = recom.Count();
            double percentagemOks = 0;
            foreach (var item in recom)
            {
                if (item.OkParaContactar)
                {
                    totalOks++;
                }

                percentagemOks = (totalOks * 100) / totalRecom;
            }

            <span>@percentagemOks%</span>
                    }
                </p>
            </div>
        </div>

        

    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>