@model rainbow.Domain.Client.Cliente

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 10px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div id="confirmModalError" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header popupHeader">
                <h3 class="modal-title">Detalhes</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.EstadoCivil.NomeEstadoCivil)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EstadoCivil.NomeEstadoCivil)
                    </dd>
                    </dl>
            </div>
            <div class="modal-footer">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
                @Html.ActionLink("Voltar", "Details", "Clientes", new { id = ViewBag.ccc }, new { @class = "btn btn-info btn-small" })
            </div>
        </div>

    </div>
</div>














@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#confirmModalError').modal('show');

        });

    </script>
}

