.camposNormais {
    margin-bottom: 10px;
    width: 75%;
}

.notas {
    min-height: 100px;
    margin-bottom: 1em;
    max-width:100%;
}

.profissao {
    margin-bottom: 10px;
    width: 50% !important;
}

.estadoCivil {
    margin-bottom: 10px;
    width: 50% !important;
}

.idade {
    width: 75px !important;
}

.margemBottom10{
    margin-bottom:10px;
}

.novoClienteMorada{
    width:100%;
}

.OkImage img {
    width: 25px;
}

.SpecialNote img {
    width: 30px;
    float: right;
}

.recrutamento img {
    width: 25px;
}

.dropdownLeft {
    right: 0;
    left: auto !important;
}

.dadosCliente dd{
    margin-bottom:15px;
}

.labelInfoSize2 {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #5bc0de;
    font-size:15px;
}